@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    transform: translateX(-150%) skewX(-20deg);
  }
  100% {
    transform: translateX(150%) skewX(-20deg);
  }
}

.animate-shine {
  animation: shine 5s ease-in-out infinite;
}